<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TruckShark | Submit New Truck</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <H1>Welcome to the Truck Shark!</H1>
        <div class="callout">
            During the signup process, we are going to ask you about your truck, payment information for event booking, and payout information so we can get you paid for customers ordering from you online and catered events.
        </div>
        <div class="facts-container">
            <form action="/facts" method="POST">
                <label for="submitter"><H2>Truck Name</H2></label>
                <input name="submitter" type="text">
                <br/>
                <label for="fact"><H2>Trucks' Cuisine</H2></label>
                <textarea name="fact"></textarea>
                <br/>
                <input type="submit" value="Submit the Truck">
            </form>
        </div>
        <a href="/trucks">⟨　Go back</a>
    </div>
</body>
</html>