.navbar {
    padding-top: 40px;
}

img {
    width: 9rem;
    height: 4.5rem;
    padding-left: 20px;
}

.search-bar {
    font-size: 20px;
}

.search {
    display: flex;
}

.customers {
    padding-left: 50px;
    padding-right: 60px;
}

.login {
    padding-right: 50px;
}

.button {
    border-radius: 10px;
    background-color: orange;
    box-shadow: 2px 2px rgb(64, 63, 63);
    font-size: 20px;
}