.navbar {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.group {
    display: flex;
    text-align: center;
}

img {
    width: 9rem;
    height: 4.5rem;
    padding-left: 20px;
}

.search-bar {
    font-size: 26px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.customer {
    padding-left: 105px;
    padding-right: 120px;
}

.login {
    padding-right: 80px;
    margin: 20px;
}

.button {
    border-radius: 10px;
    background-color: orange;
    border-color: antiquewhite;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hero-text {
    text-align: center;
    position: static;
    color: white;
    font-size: 80px;
    font-weight: 200;
    padding-top: 200px;
}

.button-i {
    height: 65px;
    width: 500px;
    border-radius: 10px;
    background-color: orange;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: 26px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.button-x {
    border-radius: 10px;
    border-color: white;
    background-color: white;
}

.wx {
    height: 33px;
    margin-bottom: 0.2em;
}

.hero-image {
    height: 800px;
    background-position: center;
    background-image: url("https://as1.ftcdn.net/v2/jpg/02/09/06/52/1000_F_209065205_bxKXoB2xllXFOEyMjD1deiKEHnCZRVEs.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}