<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TruckShark | Trucks</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Find your truck</h1>
    {% for truck in trucks %}
        <h2>{{ truck.truck_name }}</h2>
        <img src="{{ url_for('static', filename='assets/') }}{{truck.truck_photo}}"/>
        <a href="/trucks/{{ truck.truck_id }}">Learn more ⟩</a>
    {% endfor %}
    <div class="callout">
        Want to add your own truck? <a href="/facts/new">Submit it here!</a>
    </div>
</body>
</html>